body{
    background-color: #F4f4f4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    text-align: justify;
}
.col-sm-6,.col-lg-3,.col-xl-3{
    padding-right: 0px;
}
.container-black{
    background-color: black;
    color: white;
    margin: 0% 5% 0% 5%;
}
.container-white{
    background-color: white;
    color: black;
    margin: 0% 5% 0% 5%;
}
.content{
    margin-top: 120px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}
.home-banner{
    background-color: black;
}
.home-cover{
    background-attachment: fixed;
    background-image: url('assets/IMG_6116.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
}
.home-title{
    color: white;
    font-size: 50px;
    text-align: center;
}
.link-color{
    color: black;
}
.link-color :hover{
    color: black;
    text-decoration: underline;
}
#navbarCollapse{
    transition: 0.5s;
}
.navbar a{
    color: #9197a0;
    font-size: 18px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    color: black;
}
.navbar a.active {
    border-bottom: 2px solid black;
    color: black;
}
.navbar-home{
    margin-bottom: 150px;
    backdrop-filter: blur(6px);
    background-color: rgba(58, 57, 62, 0.8);
}
.navbar-home a{
    color: #9197a0;
    font-size: 18px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;  
}
.navbar-home a:hover{
    color: white;
}
.navbar-home a.active {
    border-bottom: 2px solid white;
    color: white;
}
.navbar-logo-black{
    background-image: url('assets/logoblack.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
}
.navbar-logo-white{
    background-image: url('assets/logowhite.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row img{
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
}
.subtitle{
    font-size: 18px;
    display: block;
    text-align: center;
    color: #9197a0;
    text-decoration: underline;
    line-height: 0em;
    padding-top: 15px;
}
.title{
    color: black;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}